<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Enzo Bonnet</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Bitch Ima Boss</h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Wonderfull</li>
        <li>Intelligent</li>
        <li>Ruby on Rails addept</li>
      </ul>
    </div>
  </div>
</div>
<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Loïs Kouninef</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Bitch Ima Boss</h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Wonderfull</li>
        <li>Intelligent</li>
        <li>Ruby on Rails addept</li>
      </ul>
    </div>
  </div>
</div>
<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Samuel Khalifa</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">Bitch Ima Boss</h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Wonderfull</li>
        <li>Intelligent</li>
        <li>Ruby on Rails addept</li>
      </ul>
    </div>
  </div>
</div>
</div>